*3. In the first cell of your notebook, import the required packages with their customary aliases as follows:*

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

*4. Using the pandas read_csv() function, read the GDP dataset into your notebook as a DataFrame called gdp_df. After reading it in, inspect the first 10 rows and then inspect the last 10 rows.*

In [34]:
gdp_df=pd.read_csv("../data/gdp_per_capita.csv")

In [35]:
gdp_df.head(n=10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN
5     Afghanistan  2018  2902.392113              NaN
6     Afghanistan  2017  2952.998916              NaN
7     Afghanistan  2016  2958.785399              NaN
8     Afghanistan  2015  2967.692067              NaN
9     Afghanistan  2014  3017.942544              NaN

In [36]:
gdp_df.tail(n=10)

     Country or Area  Year        Value  Value Footnotes
8209        Zimbabwe  1999  4238.195198              NaN
8210        Zimbabwe  1998  4342.858177              NaN
8211        Zimbabwe  1997  4304.406272              NaN
8212        Zimbabwe  1996  4271.479930              NaN
8213        Zimbabwe  1995  3935.280057              NaN
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

*5. Dropping the 'Value Footnotes' column, and rename the remaining columns to 'Country', 'Year', and 'GDP_Per_Capita'.*

In [37]:
gdp_df = (
    gdp_df
    .drop(columns='Value Footnotes')
    .rename(columns={'Country or Area':'Country','Value':'GDP_Per_Capita'})
)

*6. How many rows and columns does gdp_df have? What are the data types of its columns? If any of the columns are not the expected types, figure out why and fix it.*

In [38]:
gdp_df.shape

(8219, 3)

In [39]:
gdp_df.dtypes

Country            object
Year                int64
GDP_Per_Capita    float64
dtype: object

The data type for the 'Country' column is 'object', which is the pandas datatype used for text or mixed numeric and non-numeric values. To explicitly convert the countries data to the string data type, we could run the following:

In [40]:
gdp_df['Country'] = gdp_df['Country'].astype("string")
# Validate Country data was converted to string
print(gdp_df['Country'].dtype)

string